
body{
	padding: 100px;
}
$size: 30px;
$distance: 35px;
$speed: 4s;
$animation: linear;
$delay: 0s;
$iterationCount: infinite;

.wrapper,
.boll{
	width: $size;
	height: $size;
}
.wrapper{
	position: relative;
}

.boll{
	position: absolute;
	border-radius: $size;
	&-1{
		background: red;
		
		animation: $speed $animation $delay $iterationCount ball-1;
	}
	&-2{
		background: green;
		
		animation: $speed $animation $delay $iterationCount ball-2;
	}
	&-3{
		background: blue;
		
		animation: $speed $animation $delay $iterationCount ball-3;
	}
	&-4{
		background: pink;
		animation: $speed $animation $delay $iterationCount ball-4;
	}
}
@keyframes ball-1{
	0%,
	100%{
		transform: translate(0, 0);
	}
	25%{
		transform: translate(0, -$distance );
	}
	50%{
		transform: translate($distance, 0);
	}
	75%{
		transform: translate(-$distance, 0);
	}

}

@keyframes ball-2{
	0%,
	100%{
		transform: translate(0, 0);
	}
	25%{
		transform: translate($distance, 0);
	}
	50%{
		transform: translate(0, $distance);
	}
	75%{
		transform: translate(0, -$distance);
	}

}

@keyframes ball-4{
	0%,
	100%{
		transform: translate(0, 0);
	}
	25%{
		transform: translate(-$distance, 0);
	}
	50%{
		transform: translate(0, -$distance);
	}
	75%{
		transform: translate(0, $distance);
	}

}

@keyframes ball-3{
	0%,
	100%{
		transform: translate(0, 0);
	}
	25%{
		transform: translate(0, $distance);
	}
	50%{
		transform: translate(-$distance, 0);
	}
	75%{
		transform: translate($distance, 0);
	}

}
